---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <body>
    <title>Cambiar mensaje</title>
    <h1>Artistas</h1>
    <ul>
      <li>
        <a href="https://www.youtube.com/@BadBunny" target="_blank">
          Bad Bunny
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/@KarolG" target="_blank"> Karol G </a>
      </li>
      <li>
        <a href="https://www.youtube.com/@Shakira" target="_blank"> Shakira </a>
      </li>
      <li>
        <a href="https://www.youtube.com/@JBalvin" target="_blank">
          J Balvin
        </a>
      </li>
    </ul>   

       <p id="mensaje">
      Estos son algunos de los artistas más populares en la música latina.
    </p>

  </body>
</Layout>
