---
import Musica from "../components/MUSICA/Musica.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <head>
    <h1 >Music player</h1>
    <h2>Lista de reproduccion</h2>
   
<Musica title="Reina" list="Roa" client:visible/>
<Musica title="Reina" list="Roa" client:visible/>
<Musica title="Reina" list="Roa" client:visible/>
<Musica title="Reina" list="Roa" client:visible/>
<Musica title="Reina" list="Roa" client:visible/>

  </head>
</Layout>
