<div class="content_main">
  <main>
    <div class="div1">
      <h1 class="fade-in">Reproductor Song Life</h1>
    </div>
      <p class="slide-up">
        Tu reproductor personal, utilizado por el 0% de la poblacion, aprovecha
        y agrega canciones para que tus amigos y tu tengan su propia lista de
        canciones.
      </p> 
  </main>

</div>

<style>

  .fade-in {
    font-size: 3rem;
    animation: fadeIn 2s ease forwards;
  }

  .fade-in span {
    color: #a76fff;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* PÁRRAFO ANIMADO */
  .slide-up {
    opacity: 0;
    transform: translateY(30px);
    animation: slideUp 1.5s ease forwards;
    animation-delay: 0.5s;
  }

  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: scale(20px);
    }
    100% {
      opacity: 1;
      transform: scale(30px);
    }
  }

  .div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
/* pagina principal */
  main {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1%;
    border: 0.2px;
    border-style: solid;
    border-radius: 25px;
    color: rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1); /* fondo semi-transparente */
    backdrop-filter: blur(10px) saturate(120%);
    -webkit-backdrop-filter: blur(10px) saturate(120%); /* para Safari */
    padding: 15%;
    transition: all 0.5s ease-in-out;
  }
  p {
    font-size: 1.2rem;
    font-family: sans-serif;
    color: rgba(167, 223, 255, 0.489);
  }
  h1 {
    font-family: fantasy;
    font-size: 64px;
    color: white;
  }
</style>
