<div class="content_main">
      <main>
        <h1>Reproductor Song Life</h1>
        <h3>Que es?</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus
          asperiores, adipisci perspiciatis eius rem culpa beatae deleniti
          reprehenderit optio aperiam, maxime explicabo. Exercitationem corrupti
          qui, consequatur laudantium ab nisi repellat?
        </p>
        <img src="/src/assets/logo.png" width="32px" height="32px"/>
      </main>
      </div>