<div class="content_main">
      <main>
        <div class="div1">
        <h1>Reproductor Song Life</h1>
         <img src="/src/assets/logo.png" />
         </div>
        <p>
          Tu reproductor personal, utilizado por el 0% de la poblacion, 
          aprovecha y agrega canciones para que tus amigos y tu tengan su propia lista de canciones
        </p>
       
      </main>
      </div>

      <style>
        .div1{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          margin-top: 20px;
          width: 100%;
        }
        main{
          text-align: center;
        }
        p{
          justify-content: center;
          margin: auto;
          font-family: sans-serif;
          color: rgba(167, 223, 255, 0.489);
           width: 100%;
           height: 50%;
        }
        h1{
          font-family: fantasy;
          font-size: 20px;
          color: white;
         
        }
        img{
          width: 64px;
          height: 64px;
          border-radius: 20px;
        }
      </style>
      