---
import { Icon } from "astro-icon/components";
---

<header>
  <nav>
    <a href="/">
    <img
      src="/src/assets/Logo2.png"
      width="64px"
      height="64px"
      alt="Song Life"
       />
      </a>
   
    <a class="lgn"><h1>Song life</h1></a>
    <ul>
      <li><a href="/reproductor">Reproductor</a></li>
      <li><a href="/generos">Generos</a></li>
      <li><a href=""><Icon name="iconamoon:search" /> busqueda </a></li>
      <li>
        <a href="/acceder"
          ><button>Acceder <Icon name="iconamoon:neutral-face-light" /></button
          ></a>
      </li>
    </ul>
  </nav>
</header>
