---
import Background from "../assets/fondo1.png";
---

<header>
  <img src="/src/assets/Logo2.png" width="64px" height="64px" />
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</header>
