---
import Logo2 from "../assets/Logo2.png";
import Background from "../assets/fondo1.png";
---

<header>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</header>
