---
import Menu from "../components/menu.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo2.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Sound Life</title>
	</head>
	<body>
	
<Menu/>
		<slot />

		<footer>	

		</footer>
	</body>
</html>
