---
import Footer from "../components/footer.astro";
import Main from "../components/main.astro";
import Menu from "../components/menu.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo2.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Song Life</title>
  </head>
  <body>
    <div>
      <header>
        <Menu />
      </header>
      <main>
        <Main />
        <slot />
      </main>
      <footer>
        <Footer />
      </footer>
    </div>
  </body>
</html>

<script>
	import Lenis from 'lenis'

	// Initialize Lenis
const lenis = new Lenis({
  autoRaf: true,
});

// Listen for the scroll event and log the event data
lenis.on('scroll', (e) => {
  console.log(e);
});

</script>

<style>
  div {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
  }
</style>
